.placemneet_text{
    padding-left: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #647196;
}
.placement__color{
    position: absolute;
    margin-left: -18px;
    margin-top: 5px;
    border: 1px solid #F49F85;
    width: 5px;
    height: 5px;
    padding: 2px;
    background-color: #F49F85;
    border-radius: 50%;
}
.placement__color2{
    position: absolute;
    margin-left: -18px;
    margin-top: 5px;
    border: 1px solid#AD1FEA;
    width: 5px;
    height: 5px;
    padding: 2px;
    background-color:#AD1FEA;
    border-radius: 50%;
}
.placement__color3{
    position: absolute;
    margin-left: -18px;
    margin-top: 5px;
    border: 1px solid #62BCFA;
    width: 5px;
    height: 5px;
    padding: 2px;
    background-color:#62BCFA;
    border-radius: 50%;
}
.placement-radio{
    position: relative;
}