.main__main{
    display: flex;
}
.main__box{
    width: 100%;
}
.main__flex{
    margin-right: 30px;
}

.container{
    width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}