.header{
   background-color: #373F68;
   color: #fff;
   width: 100%;
   height: 72px;
   border-radius: 10px;
   display: flex;
   align-items: center;
}   
.header__img{
   margin-right: 38px;
   margin-left: 24px;
   width: 156px;
   height: 26px;
}
.header__link{
   color: #fff;
   padding: 12px 25px 11px 24px;
   border-radius: 10px;
   text-decoration: none;
   background-color: #AD1FEA;
   margin-left: auto;
   margin-right: 16px;
}