.feature{
    color:#4661E6;
    display: inline-block;
    border-radius: 10px;
    margin-bottom: 14px;
    padding: 5px 16px;
    margin-right: 8px;
    font-size: 13px;
    line-height: 19px;
    background-color: #F2F4FF;
}